In [9]:
import mysql.connector as connector

In [10]:
connection = connector.connect(user = "root", password = "root")

In [11]:
cursor = connection.cursor()

In [12]:
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon")

In [13]:
cursor.execute("USE little_lemon")

In [14]:
create_menuitem_table = """
CREATE TABLE MenuItems(
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(200),
Price INT, 
PRIMARY KEY(ItemID)
)
"""

In [15]:
cursor.execute(create_menuitem_table)

ProgrammingError: 1050 (42S01): Table 'menuitems' already exists

In [ ]:
create_bookings_table = """
CREATE TABLE bookings (
    GuestFirstName VARCHAR(50) NOT NULL,
    GuestLastName VARCHAR(50) NOT NULL,
    TableNo INT NOT NULL,
    BookingSlot DATETIME NOT NULL,
    EmployeeID INT NOT NULL
)
"""

In [ ]:
cursor.execute(create_bookings_table)

In [ ]:
mysql_insert_query = """
INSERT INTO bookings 
(GuestFirstName, GuestLastName, TableNo, BookingSlot, EmployeeID) VALUES
('Marcos', 'Garcia', 2, '2022-11-05 19:00:00', 5)
"""

In [16]:
cursor.execute(mysql_insert_query)

DatabaseError: 1364 (HY000): Field 'BookingID' doesn't have a default value

In [ ]:
connection.commit()

NameError: name 'connection' is not defined

In [17]:
read_data_query = """
SELECT * FROM bookings
"""

In [18]:
cursor.execute(read_data_query)

In [19]:
results = cursor.fetchall()

In [20]:
results

[(1, 'Anna', 'Iversen', 12, datetime.datetime(2024, 11, 26, 9, 0), 1),
 (2, 'Joakim', 'Iversen', 12, datetime.datetime(2024, 11, 26, 9, 0), 1),
 (3, 'Vanessa', 'McCarthy', 19, datetime.datetime(2024, 11, 26, 15, 0), 3),
 (4, 'Marcos', 'Romero', 15, datetime.datetime(2024, 11, 26, 17, 30), 4),
 (5, 'Hiroki', 'Yamane', 5, datetime.datetime(2024, 11, 26, 18, 30), 2),
 (6, 'Diana', 'Pinto', 8, datetime.datetime(2024, 11, 26, 20, 0), 5)]

In [21]:
columns = cursor.column_names

In [22]:
print(columns)

('BookingID', 'GuestFirstName', 'GuestLastName', 'TableNo', 'BookingSlot', 'EmployeeID')

In [23]:
for result in results:
    print(result)

(1, 'Anna', 'Iversen', 12, datetime.datetime(2024, 11, 26, 9, 0), 1)
(2, 'Joakim', 'Iversen', 12, datetime.datetime(2024, 11, 26, 9, 0), 1)
(3, 'Vanessa', 'McCarthy', 19, datetime.datetime(2024, 11, 26, 15, 0), 3)
(4, 'Marcos', 'Romero', 15, datetime.datetime(2024, 11, 26, 17, 30), 4)
(5, 'Hiroki', 'Yamane', 5, datetime.datetime(2024, 11, 26, 18, 30), 2)
(6, 'Diana', 'Pinto', 8, datetime.datetime(2024, 11, 26, 20, 0), 5)

In [24]:
update_bookings = """
UPDATE bookings
SET TableNo = 10
WHERE BookingID = 6
"""

In [ ]:
cursor.execute(update_bookings)